<?xml version="1.0" encoding="UTF-8"?>
<!--This file contains execution of features using TestNG since 26/03/2020-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="XenditMobileStoreAndroidFramework">
        <classes>
            <class name="Runner.LoginRunner" />
        </classes>
    </test>
</suite>